

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');




* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
}

ul {
    list-style: none;
    padding-left: 0;
}


img {
    width: 100%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

header {
    background-color: rgb(60, 56, 56);
    padding: 2em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: Raleway;
}

.navbar__link {
    color: white;
    font-size: medium;
    padding: 8px 16px;
    display:inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: rgb(241, 3, 82);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: rgb(60, 56, 56);

}

.submenu__link {
    display: block;
    padding: 8px 16px;
    font-size: medium;
    color: white;
    transition: background .3s ease-in-out;
    
}

.submenu__link:hover {
    background-color: rgb(241, 3, 82);
}